<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">IBKR Trading App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/trading" Match="NavLinkMatch.All">Trading</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/account">Account</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/marketdata">Market Data</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/settings">Settings</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/history">History</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/about">About</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/premarketorders">Pre Market Orders</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav> 